@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Outfit:wght@300&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
    color: rgb(0, 0, 0);
}
body{
    background-color: #d3a2b9;
}

.card{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
@media screen and (max-width:500px){
    img{
        width: 200px;
        height: 200px;
    }
}